---
permalink: "feed.xml"
eleventyExcludeFromCollections: true
category_name: "feed"
layout: false
metadata:
  title: "hedi's blog"
  language: "en"
  url: "https://h80h.xyz/blog/"
  author:
    name: "h80h"
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.url }}">
  <title>{{ metadata.title }}</title>
  <link href="{{ permalink | absoluteUrl(metadata.url) }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  {%- set newestDate = collections.posts | getNewestCollectionItemDate %}
  <updated>{{ newestDate.toISOString() }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
  </author>
  {%- for post in collections.posts | reverse %}
  {%- set absolutePostUrl = (metadata.url + post.url.slice(1)) %}
  {%- set gitFirstRaw = post.inputPath | gitFirstCommitRaw %}
  {%- set gitLastRaw = post.inputPath | gitLastModifiedRaw %}
  {%- set pubDate = (gitFirstRaw | gitDateToRfc3339) or (post.date.toISOString()) %}
  {%- set updatedDate = (gitLastRaw | gitDateToRfc3339) or (post.date.toISOString()) %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <published>{{ pubDate }}</published>
    <updated>{{ updatedDate }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <category term="{{ post.data.category_name }}" />
    <content xml:base="{{ absolutePostUrl }}" type="html">
      {{ post.templateContent | stripFirstH1 | stripPlayground | htmlToAbsoluteUrls(absolutePostUrl) }}
    </content>
  </entry>
  {%- endfor %}
</feed>