---
title: "hedi's blog"
category_name: "root"
layout: "blog-layout.html"
---
<div class="blog-nav">
  <a href="/about/">about</a>
  <a>uses</a>
  <a>links</a>
</div>

<ul class="post-list">
  {# This loops through EVERY post in the 'posts' collection #}
  {% for post in collections.posts | reverse %}
    <li class="post-item">
      {% if post.data.category_name == "hedi's coding" %}
        <a class="category category--code" href="/code/">CODE!</a>
      {% elif post.data.category_name == "hedi's daily" %}
        <a class="category category--daily" href="/daily/">DAILY</a>
      {% else %}
        <div class="category">{{ post.data.category_name }}</div>
      {% endif %}
      <div class="post-title">{{ post.data.title }}</div>

      <div class="date-container">
        {% set gitFirst = post.inputPath | gitFirstCommit %}
        {% set gitLast = post.inputPath | gitLastModified %}
        {% if gitFirst and gitLast and gitFirst != gitLast %}
        <time class="edited-date">Last edited: {{ gitLast }} <span class="info-toggle" title="show publish date"
            aria-label="show publish date">𝒾</span></time>
        <p class="date" hidden>{{ gitFirst }}</p>
        {% else %}
        <time class="date">{{ gitFirst or (post.data.created | postDate) }}</time>
        {% endif %}
      </div>

      <p class="post-preview">{{ post.templateContent | contentPreview(30) }}</p>
      <a class="read-more" href="{{ post.url }}">ʕ reᴥadʔっ</a>
    </li>
  {% endfor %}
</ul>
