---
title: "hedi's blog"
category_name: "root"
---
<div class="blog-title-container">
  <img id="blog-logo" src="/blog-assets/h80h-2026-look-n-blink.gif">
  <div class="blog-title">⋆ . ˚ {{ title | doubleStruck }} ˚ · ⋆</div>
</div>
<div class="blog-nav">
  <a>about</a>
  <a>uses</a>
  <a>links</a>
</div>

<ul class="post-list">
  {# This loops through EVERY post in the 'posts' collection #}
  {% for post in collections.posts | reverse %}
    <li class="post-item">
      {% if post.data.category_name == "hedi's coding" %}
        <a class="category category--code" href="/code/">CODE!</a>
      {% elif post.data.category_name == "hedi's daily" %}
        <a class="category category--daily" href="/daily/">DAILY</a>
      {% else %}
        <div class="category">{{ post.data.category_name }}</div>
      {% endif %}
      <div class="post-title">{{ post.data.title }}</div>
      <time class="date">{{ post.data.date | postDate }}</time>
      <p class="post-preview">{{ post.templateContent | contentPreview(30) }}</p>
      <a class="read-more" href="{{ post.url }}">ʕ reᴥadʔっ</a>
    </li>
  {% endfor %}
</ul>
