---
title: "about me"
category_name: "root"
layout: "blog-layout.html"
permalink: /about/index.html
---
<div class="blog-nav">
  <a>about</a>
  <a>uses</a>
  <a>links</a>
</div>

<p>
  Hello! My name is <strong>Hedi Huang (alias h80h)</strong>.
</p>

<div class="about-photo-container">
  <div id="about-photo-1">
    <img src="https://blog-assets.3chih21.workers.dev/blog/about/little-hedi.png" width="40" height="40" decoding="async" fetchpriority="low">
  </div>

  <p>
    This is little hedi, who's not a fan of being in photos. Even now I'm still not a photo person, but I like capturing funny moments.
  </p>
</div>

<div class="about-photo-container">
  <div id="about-photo-2">
    <img src="https://blog-assets.3chih21.workers.dev/blog/about/teddy-eskimo.png" width="40" height="40" decoding="async" fetchpriority="low">
  </div>

  <p>
    And this is my funny teddy, my best birthday gift ever. Whenever you need a hug, a 70cm teddy bear is the perfect companion. :3
  </p>
</div>


<p id="about-more-info">
  I like to spend my time crafting websites. I'm also trying to make some pixel art to add a touch of fun to the websites.
</p>

<p>
  As a '98 baby, I feel lucky to enjoy the freedom the internet gifts me.
  <br>
  I hope it stays this way, and it's nice to meet you here! :>
</p>

<div class="edited-time-of-root-pages">
  {% set gitFirst = page.inputPath | gitFirstCommit %}
  {% set gitLast = page.inputPath | gitLastModified %}
  {% if gitFirst and gitLast and gitFirst != gitLast %}
  <p class="edited-date">Last edited: {{ gitLast }} <span class="info-toggle" title="show publish date"
      aria-label="show publish date">𝒾</span></p>
  <p class="date" hidden>{{ gitFirst }}</p>
  {% else %}
  <p class="date">{{ gitFirst or (page.date | postDate) }}</p>
  {% endif %}
</div>