---
title: "hedi's daily"
category_name: "root"
layout: "blog-layout.html"
permalink: /daily/index.html
---
<div class="blog-title-container">
  <img src="/blog-assets/h80h-2026-look-n-blink.gif" width="32" height="32">
  <div class="blog-title">⋆ . ˚ {{ title }} ˚ · ⋆</div>
</div>
<section class="category-header">
    <p>/* powered by love & hope */</p>
</section>

<ul class="post-list">
  {# We loop through the 'hedi-s-daily' tag we defined in the JSON file #}
  {% for post in collections["hedi-s-daily"] | reverse %}
    <li class="post-item">
      <a class="category category--daily" href="/daily/index.html">DAILY</a>
      <div class="post-title post-title--daily">{{ post.data.title }}</div>
      <time class="date">{{ post.data.date | postDate }}</time>
      <p class="post-preview">{{ post.templateContent | contentPreview(30) }}</p>
      <a class="read-more" href="{{ post.url }}">ʕ reᴥadʔっ</a>
    </li>
  {% else %}
    <li>No posts found in this category yet!</li>
  {% endfor %}
</ul>