---
title: "the uses"
category_name: "root"
layout: "blog-layout.html"
permalink: /uses/index.html
---
<div class="blog-nav">
  <a href="/about/">about</a>
  <a>uses</a>
  <a>links</a>
</div>

<div id="uses-container">
  <div>
    <p class="uses-scenario">
      I almost use these everyday:
    </p>
    <p class="uses-category">
      hardware:
    </p>
    <ul>
      <li>MacBook Air M1, 2020 (Sequoia v.15)</li>
      <li>iPhone 13 mini (ios v.18) <a href="https://en.wikipedia.org/wiki/IPhone_13#cite_note-12">(i luv mini (′︿‵｡))</a></li>
      <li>Logitech M325 (Unifying Receiver)</li>
      <li>iPad Pro (11-inch)(3rd generation)</li>
      <li><a href="https://www.apple.com/shop/product/mxn43am/a/apple-pencil-2nd-generation">Apple Pencil (2nd generation)</a></li>
      <li><a href="https://samsontech.com/products/microphones/usb-microphones/q2u/">Samson Q2U</a> (mic) (with <a href="https://fifinemicrophone.com/products/fifine-bm88-microphone-boom-arm-stand?variant=42966470000829">FIFINE BM88</a> (arm))</li>
    </ul>

    <p class="uses-category">
      software:
    </p>
    <ul>
      <li><a href="https://obsidian.md/">Obsidian</a> (CMS for my blog, build with <a href="https://www.11ty.dev/">11ty</a>)</li>
      <li><a href="https://www.cloudflare.com/">Cloudflare</a> (DNS(CDN), R2, Zero Trust(doh), Workers & Pages)</li>
      <li><a href="https://www.raycast.com/">Raycast</a> (calculator, shortcut for english-chinese dict.<a href="https://apps.apple.com/us/app/wordbranch-%E5%AD%97%E4%B8%AD%E5%AD%97-%E5%AD%97%E9%A6%96%E5%AD%97%E6%A0%B9/id1080556151">(WordBranch)</a> & window management)</li>
      <li><a href="https://github.com/aseprite/aseprite/blob/main/INSTALL.md">Aseprite (compiled locally)</a> (pixel)</li>
      <li><a href="https://github.com/avibrazil/RDM">RDM</a> (mac) (zooom inn! i'm nearsighted ⌐◨-◨)</li>
    </ul>
  </div>

  <div>
    <p class="uses-scenario">
      These tools and services ease my life:
    </p>
    <p class="uses-category">
      hardware:
    </p>
    <ul>
      <li><a href="https://www.crucial.com/ssd/x6/ct500x6ssd9">Crucial X6 500GB Portable SSD</a> (backup)</li>
      <li>SwitchEasy MagMount Magnetic iPad Stand (use with CoverBuddy iPad Protective Case (apple pencil's home)) (easy to draw & use Universal Control on ipad) (stable!)</li>
      <li><a href="https://world.taobao.com/item/cjN1K2pnVFdRTC9FVkYzOHkyODYvUT09.htm?spm=a21wu.12321156/default.0.0.2fbc4129IIqUft">mini standing desk converter</a> (taobao) (i can place macbook, ipad, iphone and mouse all on it)</li>
    </ul>
    <p class="uses-category">
      software:
    </p>
    <ul>
      <li><a href="https://apps.apple.com/tw/app/netnewswire-rss-reader/id1480640210?l=en-GB">NetNewsWire</a> (iphone) (check rss when afk)</li>
      <li><a href="https://github.com/sindresorhus/Gifski">Gifski</a> (video convert to gif)</li>
      <li><a href="https://github.com/macmade/hot">Hot</a> (track CPU temperature)</li>
      <li><a href="https://apps.apple.com/tw/app/procreate/id425073498?l=en-GB">Procreate</a> (ipad) (draw, img markup)</li>
      <li><a href="https://apps.apple.com/tw/app/affinity-designer-2-for-ipad/id1616833418?l=en-GB">Affinity Designer 2 for ipad</a> (vector)</li>
    </ul>
  </div>
</div>

<div class="edited-time-of-root-pages">
  {% set gitFirst = page.inputPath | gitFirstCommit %}
  {% set gitLast = page.inputPath | gitLastModified %}
  {% if gitFirst and gitLast and gitFirst != gitLast %}
  <p class="edited-date">Last edited: {{ gitLast }} <span class="info-toggle" title="show publish date"
      aria-label="show publish date">𝒾</span></p>
  <p class="date" hidden>{{ gitFirst }}</p>
  {% else %}
  <p class="date">{{ gitFirst or (page.date | postDate) }}</p>
  {% endif %}
</div>