---
title: "404"
category_name: "root"
layout: "blog-layout.html"
permalink: /404.html
pagefindIgnore: true
---
<div class="blog-nav">
  <a>about</a>
  <a>uses</a>
  <a>links</a>
</div>

<div id="milady-not-found">
  <img src="https://blog-assets.3chih21.workers.dev/blog/404/milady-4480-not-found-v2.png" width="180" height="225" decoding="async" fetchpriority="low">
</div>