---
title: "hedi's coding"
category_name: "root"
layout: "blog-layout.html"
permalink: /code/index.html
---
<div class="blog-title-container">
  <img id="blog-logo" src="/blog-assets/h80h-2026-look-n-blink.gif">
  <div class="blog-title">⋆ . ˚ {{ title | doubleStruck }} ˚ · ⋆</div>
</div>
<div class="blog-nav">
  <a>about</a>
  <a>uses</a>
  <a>links</a>
</div>

<ul class="post-list">
  {# We loop through the 'hedi-s-coding' tag we defined in the JSON file #}
  {% for post in collections["hedi-s-coding"] | reverse %}
    <li class="post-item">
      <a class="category category--code" href="/code/">CODE!</a>
      <div class="post-title post-title--code">{{ post.data.title }}</div>
      <time class="date">{{ post.data.date | postDate }}</time>
      <p class="post-preview">{{ post.templateContent | contentPreview(30) }}</p>
      <a class="read-more" href="{{ post.url }}">ʕ reᴥadʔっ</a>
    </li>
  {% else %}
    <li>No posts found in this category yet!</li>
  {% endfor %}
</ul>